/* -------- body -------- */

body {
    font-family: 'Noto Sans', sans-serif;
}

body.back {
    margin : 0;
    padding : 0;
    background-image: url('../img/background.jpeg');
    /* background-size: cover;
    background-position: center;*/
    background-repeat: repeat;
    color: white;
}
/* -------- div --------------*/
div.container{
    margin: 0 auto;
    margin-top: 5vh;
    border-radius: 2vh;
    padding: 3vh;
    padding-top: 5vh;
    padding-bottom: 5vh;
    background: grey;
    width: 40%;
    max-width: 1000px
}

/*-----------label-----------*/
label{
    font-size: 2vh;
}
/*-----------title-----------*/
body h2{
    font-size: 4vh;
}
/* -------- header -------- */
header {
    top: 0;
    position: relative;
    width: 100%;
    height: 15%;
    padding-bottom: 2vh;
    padding-top: 1vh;
    background: grey;
}

header h1 {
    font-family: 'Montserrat Subrayada', sans-serif;
    text-align: center;
    /* line-height: 15%; */
    text-shadow: 2px 2px 4px #222;
    font-size: 6vh;
    color: white;
    margin: 0;
    padding-top: 2vh;
    padding-bottom: 2vh;
}

/* -------- search -----------*/

input.responsive {
    width: 80%;
    max-width: 700px;
    height: 2.2vh;
    max-height: 100px;
    font-size: 1.8vh;
}
input.check {
    width: 2vh;
    max-width: 100px;
    height: 2vh;
    max-height: 100px;
    font-size: 1.8vh;
}

/* -------- buttons -------- */
.button {
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 2vh 4vh;
    display: inline-block;
    font-size: 2vh;
    margin: auto;
    margin-top: 2vh;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: #555555;
    border: 1vh solid #555555;
    border-radius: 1vh;
}

.left {
    margin: 20px 0;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border: 2px solid #999;
}

.right {
    margin: 20px 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border: 2px solid #999;
}


.button:hover {
    background-color: #eee;
    color: #333;
}

.button.selected {
    background-color: #eee;
    color: #333;
    font-weight: bold;
}

.bold {
    font-weight: bold;
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 16px 32px;
}

/* -------- links -------- */
a.title_link{
    color: white;
    text-decoration: none;
    font-size: 2vh;
}
a{
    color: white;
    font-size: 2vh;
}
/*---------table-------------*/
table{
    table-layout: fixed;
    width:100%;
    margin: 0 auto;
    border: 1px solid darkgrey;
    border-collapse: collapse;
}

th,td {
    border: 1px solid darkgrey;
    border-collapse: collapse;
    word-wrap: break-word;
}

@media screen and (max-width: 1100px) {
    div.container{
        margin: 0 auto;
        margin-top: 5vh;
        margin-bottom: 5vh;
        border-radius: 2vh;
        padding: 3vh;
        padding-top: 8vh;
        padding-bottom: 15vh;
        background: grey;
        width: 80%
    }

    body h1{
        font-size: 8vh;
    }

    body h2{
        font-size: 7vh;
        padding-bottom: 1vh;
    }
    article{
        padding-top: 3vh;
    }

    label{
        font-size: 3vh;
    }

    a{
        font-size: 3vh;
    }
 }

 @media screen and (max-width: 200px) {
    div.container{
        margin: 0 auto;
        margin-top: 5vh;
        margin-bottom: 5vh;
        border-radius: 2vh;
        padding: 3vh;
        padding-top: 8vh;
        padding-bottom: 15vh;
        background: grey;
        width: 80%
    }

    body h1{
        font-size: 8vh;
    }

    body h2{
        font-size: 8vh;
        padding-bottom: 1vh;
    }
    article{
        padding-top: 3vh;
    }

    label{
        font-size: 5vh;
    }

    a{
        font-size: 5vh;
    }
 }